body {
    background-color: black;
}

.main-section h1 {
    margin: 40px;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    justify-content: center; 
    align-content: center; 
}

.creator-text {
    grid-row: 1 / 3;
    margin: 40px; 
}

.creator-text p {
    text-align: justify;
    margin-bottom: 30px;
}


.img-section img {
    margin: 10px;
    height: 500px;
}


@media (max-width: 767px) {

    .main-section h1 {
        text-align: left;
    }

    .img-section img {
        padding: 16px;
        height: 400px;
    }

    .img-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}
}