body {
    height: 150vh;
}

.main-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal columns */
    grid-template-rows: repeat(3, 1fr);    /* Three equal rows */
    gap: 0; /* No gap between items */
    height: 100%; /* Full height to center items */
    width: 100vw; /* Full width of the viewport */
    padding: 32px 0;
}

h1 {
    grid-column: span 2; /* Centered title across columns */
    margin-bottom: 40px; /* Remove margin for consistency */
    color: white;
    text-align: center;
}

.section-item {
    padding: 0; /* Remove padding for full coverage */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative; /* For positioning img */
    max-width: 800px; /* Set a maximum width for each section item */
    margin: auto; /* Center section items */
}

.section-item img {
    width: 100%;
    height: auto; /* Adjust height automatically to maintain aspect ratio */
    object-fit: cover; /* Cover the entire section item */
}

.section-item div {
    text-align: center; /* Center text horizontally */
}

.section-item p {
    margin: 0; /* Remove default margin */
}

.section-item h2 {
    margin-bottom: 10px; /* Add space between h2 and p */
}

/* Mobile Styles (max-width: 767px) */
@media (max-width: 767px) {
    .main-section {
        grid-template-columns: 1fr; /* Single column on mobile */
        grid-template-rows: auto; /* Adjusts to content height */
    }

    .section-item {
        padding: 15px; /* Adjust padding on mobile */
    }
}
